[Desktop Entry]
Version=1.0
Name=thumbgrid
GenericName=Image Viewer
Comment=Qt image viewer
Exec=thumbgrid %f
Icon=thumbgrid
Terminal=false
Type=Application
Categories=Qt;Graphics;Viewer;
MimeType=video/webm;image/jpeg;image/gif;image/png;image/bmp;image/webp;
Keywords=image;view;thumbgrid;picture;gif;jpeg;webm;
